// Variables

$background-1: rgb(255, 147, 176);
$background-2: rgb(255, 149, 83);
$navButColour: rgb(243, 243, 243);

// Mixins

@mixin icons {
    background-color: rgb(68, 68, 68);
    border-radius: 35%;
    width: 47px;
    height: 47px;
    margin: 20px 35px 20px 35px;
}

@mixin navButtons {
    height: 40px;
    border: none;
    background-color: $navButColour;
    outline: none;
}

@mixin formAreas {
    font-family: inherit;
    font-weight: bold;
    text-align: center;
}

@mixin mediaQuery($arg) {
    @media screen and (max-width: $arg){
        @content
    }
}

/* -------------------------------------------------ELEMENTS------------------------------------------------------ */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-auto-rows: 100vh;
}

.valid {
    background-color: rgb(217, 253, 163);
    border: 2px solid rgb(73, 211, 73);
}

.invalid {
    background-color: rgb(255, 155, 155);
    border: 2px solid rgb(223, 66, 66);
}

/* -------------------------------------------------OBJECTS------------------------------------------------------ */

/* ----- all blocks ----- */
.block {
    width: 100%;
    height: 100vh;
}

.one {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: linear-gradient(90deg,$background-1,$background-2);
}

.two {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #222;
}

.three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: linear-gradient(90deg,$background-1,$background-2);
}

/* -------------------------------------------- block 1 */
h1 {
    grid-row: 2/3; 
    margin: 0;
    text-align: center;
    word-spacing: 50px;
    font-size: 40px;
    color: rgb(56, 56, 56);
    padding: 30px;
}
/* -------------------------------------------- block 2 */
h2 {
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    margin: 0;
    letter-spacing: 10px;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
/* -------------------------------------------- block 3 */
h3 {
    grid-column: 2/3;
    margin: 0;
    align-self: center;
    text-align: center;
    letter-spacing: 10px;
    font-size: 26px;
    color: rgb(253, 215, 184);
}

.icon-container {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
}

.icon {
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            box-shadow: 0px 0px 20px rgb(226, 226, 226)
        }
    }
}

.icon-1 {
    span {
        @include icons;
    }
}

.icon-2 {
    span {
        @include icons;
    }
}

.icon-3 {
    span {
        @include icons;
    }
}

/* -------------------------------------------- Navigation Buttons: block 1 & block 2 */
.nav-1 {
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    span {
        border-bottom: 4px solid #222 ;
        border-left: 4px solid #222;
        animation: arrow-pulse 2s infinite;
    }
}

.nav-2-container {
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}

.nav-2 {
    span {
        border-bottom: 4px solid rgb(228, 228, 228) ;
        border-left: 4px solid rgb(228, 228, 228);
        animation: arrow-pulse 2s infinite;
    }
}

@keyframes arrow-pulse
{
    0% 
    {
        opacity: 0%;
    }
    50% 
    {
        opacity: 80%;
    }
    75% 
    {
        opacity: 80%;
    }
    100% 
    {
        opacity: 0%;
    }
}


/* -------------------------------------------- block 1 */
h1 .name-h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    letter-spacing: 10px;
}

h1 .web-dev-h1 {
    font-size: 1.6em;
    letter-spacing: 10px;
}

.arrow {
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(315deg);
}

/* -------------------------------------------- block 2 */
.projects-container {
    grid-row: 2/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.project-slide {
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.project {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    background-color: whitesmoke;
    position: absolute;
    list-style: none;
    img {
        width: 400px;
        height: 420px;
        + a {
            left: 65%;
        }
    }
    a + a {
        right: 65%;
    }
    a {
        position: absolute;
        text-decoration: none;
        background-color: whitesmoke;
        padding: 10px;
    }
}

.carousel-buttons {
    width: 90px;
    @include navButtons;
}

.left {
    margin-right: 20%;
    visibility: hidden;
}

.right {
    margin-left: 20%;
}

/* -------------------------------------------- block 3 */
form {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;
    border-radius: 25px;
    background-color: rgb(186, 245, 236);
    box-shadow: 0 0 20px 0 rgb(138, 136, 136) ;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: -30px;
    > * {
        height: 20%;
        &:focus {
            outline: none;
        }
    }
}

input {
    @include formAreas;
}

textarea {
    @include formAreas;
    height: 55%;
}

.quote {
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: start;
    align-self: center;
    word-spacing: 5px;
    letter-spacing: 5px;
    width: 70%;
    margin-left: -50px;
}

.nav-3 {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: center;
    align-self: center;
    width: 80px;
    @include navButtons;
    &:hover {
        cursor: pointer;
    }
}

/* Media Queries */

@media screen and (max-width: 1024px){
    .project img {
        width: 445px;
        height: 465px;
    }
    .carousel-buttons {
        width: 100px;
        height: 50px;
        font-size: 1em;
    }
    .left {
        margin-right: 35%;
    }
    
    .right {
        margin-left: 35%;
    }
    h3 {
        font-size: 2.5em;
    }
    form {
        align-self: center;
        width: 110%;
        height: 150%;
        margin-right: -180px;
    }
    .quote {
        margin-left: -30px;
        font-size: 1.5em;
    }
    .nav-3 {
        font-size: 1.2em;
        align-self: center;
    }
}

/* tablet */
@media screen and (max-width: 768px){
    .project img {
        width: 400px;
        height: 420px;
    }
    .carousel-buttons {
        width: 85px;
        height: 40px;
    }
    .left {
        margin-right: 32%;
    }
    
    .right {
        margin-left: 32%;
    }
    h3 {
        font-size: 2em;
    }
    form {
        align-self: center;
        width: 100%;
        height: 120%;
        margin-right: -120px;
    }
    .quote {
        margin-left: -30px;
        font-size: 1.2em;
    }
}

/* mobile */
@media screen and (max-width: 480px){
    body {
        grid-auto-rows: 160vh;
    }
    .block {
        height: 160vh;
    }
    .nav-1 {
        display: none;
    }
    .projects-container {
        position: relative;
    }
    .carousel-buttons {
        width: 30%;
        height: 10%;
        position: absolute;
        top: 580px;
    }
    .nav-2-container {
        display: none;
    }
    .three {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "h3 h3"
        "form quote"
        "form quote"
        "nav-3 nav-3";
    }
    h3 {
        grid-area: h3;
    }
    form {
        grid-area: form;
        align-self: center;
        width: 80%;
        height: 70%;
        margin-right: -20px;
    }
    .quote {
        grid-area: quote;
        justify-self: end;
        margin-right: 15px;
    }
    .nav-3 {
        grid-area: nav-3;
        align-self: center;
        font-size: 1em;
    }
}