/* -------------------------------------------------ELEMENTS------------------------------------------------------ */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-auto-rows: 100vh;
}

/* -------------------------------------------- block 1 */
h1 {
    grid-row: 2/3; 
    margin: 0;
    text-align: center;
    word-spacing: 50px;
    font-size: 40px;
    color: rgb(56, 56, 56);
    padding: 30px;
}
/* -------------------------------------------- block 2 */
h2 {
    justify-self: center;
    align-self: center;
    margin: 0;
    letter-spacing: 10px;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
/* -------------------------------------------- block 3 */
h3 {
    grid-column: 2/3;
    margin: 0;
    align-self: center;
    text-align: center;
    letter-spacing: 10px;
    font-size: 26px;
    color: rgb(253, 215, 184);
}

form {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;
    border-radius: 25px;
    background-color: rgb(186, 245, 236);
    box-shadow: 0 0 20px 0 rgb(138, 136, 136) ;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 260px;
}

form > * {
    height: 20%;
}

form > *:focus {
    outline: none;
}

input {
    font-family: inherit;
    font-weight: bold;
    text-align: center;
}

textarea {
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    height: 55%;
}

.valid {
    background-color: rgb(217, 253, 163);
    border: 2px solid rgb(73, 211, 73);
}

.invalid {
    background-color: rgb(255, 155, 155);
    border: 2px solid rgb(223, 66, 66); */
}

/* -------------------------------------------------OBJECTS------------------------------------------------------ */

/* ----- all blocks ----- */
.block {
    width: 100%;
    height: 100vh;
}

.one {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: linear-gradient(90deg,rgb(255, 147, 176),rgb(255, 149, 83));
}

.two {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #222;
}

.three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: linear-gradient(90deg,rgb(255, 147, 176),rgb(255, 149, 83));
}

/* -------------------------------------------- block 1 */
h1 .name-h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    letter-spacing: 10px;
}

h1 .web-dev-h1 {
    font-size: 1.6em;
    letter-spacing: 10px;
}

.icon-container {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
}

.icon span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon span:hover {
    box-shadow: 0px 0px 20px rgb(226, 226, 226)
}

.icon-1 span {
    background-color: rgb(68, 68, 68);
    border-radius: 35%;
    width: 47px;
    height: 47px;
    margin: 20px 35px 20px 35px;
}

.icon-2 span {
    width: 40px;
    background-color: rgb(68, 68, 68);
    border-radius: 35%;
    width: 47px;
    height: 47px;
    margin: 20px 35px 20px 35px;
}

.icon-3 span {
    background-color: rgb(68, 68, 68);
    border-radius: 35%;
    width: 47px;
    height: 47px;
    margin: 20px 35px 20px 35px;
}

/* -------------------------------------------- Navigation Buttons: block 1 & block 2 */
.nav-1 {
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}

.nav-2-container {
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}

.arrow {
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(315deg);
}

.nav-1 span {
    border-bottom: 4px solid #222 ;
    border-left: 4px solid #222;
    animation: arrow-pulse 2s infinite;
}

.nav-2 span {
    border-bottom: 4px solid rgb(228, 228, 228) ;
    border-left: 4px solid rgb(228, 228, 228);
    animation: arrow-pulse 2s infinite;
}

@keyframes arrow-pulse
{
    0% 
    {
        opacity: 0%;
    }
    50% 
    {
        opacity: 80%;
    }
    75% 
    {
        opacity: 80%;
    }
    100% 
    {
        opacity: 0%;
    }
} 

/* Change the hover to decrease opacity of images only */

/* -------------------------------------------- block 2 */
img {
    width: 250px;
    height: 300px;
}

carousel-arrow {
    width: 100px;
    height: 50px;
}

.projects-container {
    grid-row: 2/4;
    display: flex;
    justify-content: space-evenly;
}

.img-1 {
    width: 20%;
    background-color: whitesmoke;
}
.img-2 {
    width: 20%;
    background-color: whitesmoke;
}
.img-3 {
    width: 20%;
    background-color: whitesmoke;
}
.img-4 {
    width: 20%;
    background-color: whitesmoke;
}

/* -------------------------------------------- block 3 */

.quote {
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: start;
    word-spacing: 5px;
    letter-spacing: 5px;
    width: 70%;
}

.nav-3 {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: center;
    align-self: center;
    height: 40px;
    width: 80px;
    border: none;
    background-color: rgb(243, 243, 243);
}

.nav-3:hover {
    cursor: pointer;
}

.nav-3:focus {
    outline: none;
}

/* Media Queries */

@media screen and (min-width: 992px){

}

/* tablet */
@media screen and (max-width: 768px){

}

/* mobile */
@media screen and (max-width: 480px){

}

/*
.project-img:nth-child(1) {
    background-image: url("assets/bcg-change.png");
    background-size: cover;
    background-position: center;
    background-color: gainsboro;
    min-width: 20vw;
}
.project-img:nth-child(2) {
    background-image: url("assets/history-quiz.png");
    background-size: cover;
    background-position: center;
    background-color: gainsboro;
    min-width: 20vw;
}
.project-img:nth-child(3) {
    background-image: url("assets/sparkle-me.png");
    background-size: cover;
    background-position: center;
    background-color: gainsboro;
    min-width: 20vw;
}
.project-img:nth-child(4) {
    background-image: url("assets/todo-list.png");
    background-size: cover;
    background-position: center;
    background-color: gainsboro;
    min-width: 20vw;
}

.project-img div::before {
    content: "";
    background-color: rgb(37, 37, 37);
    height: 400px;
    width: 100%;
    opacity: 50%;
    position: absolute;
}

.project-img div {
    height: 100%;
    display: none;
}

.project-img div div {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
}

.project-img div div a {
    font-size: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px 15px 10px;
    background: rgb(203, 255, 248);
    border-radius: 30px;
    color: black;
    grid-row: 2/3;
    position: relative;
} */

/* mobile: Pixel 2 XL */
/* @media screen and (max-height: 823px){
    .block {
        height: 103vh;
    }
} */

/* mobile: iPhone X */
/* @media screen and (max-height: 812px){
    .block {
        height: 112vh;
    }
} */

/* mobile: Pixel 2, iPhone 6/7/8 Plus */
/* @media screen and (max-height: 736px){
    .block {
        height: 103vh;
    }
} */

/* mobile: Moto G4, Galaxy S5, iPhone 6/7/8 */
/* @media screen and (max-height: 667px){
    .block {
        height: 117vh;
    }
} */

/* mobile iPhone 5/SE */
/* @media screen and (max-height: 568px){
    .block {
        height: 132vh;
    }
} */

/* mobile iPhone 5/SE */
/* @media screen and (max-height: 568px){
    .block {
        height: 132vh;
    }
} */

/* mobile Galaxy Fold */
/* @media screen and (max-width: 280px){
    .block {
        height: 151vh;
    }
} */